<meta property="og:url"                content="{{ site.url }}{{ page.url }}" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="{{ page.title }}" />
<meta property="og:description"        content="{{ page.description | default: 'Trevors Tales is an ever-growing collection of fiction stories written by Trevor Michaelson, featuring app-like functionality and design for a pleasant reading experience.' }}" />

{% if page.image %}
  <meta property="og:image"              content="{% asset '{{ page.image }}' @path %}" />
{% endif %}