<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://trevorstales.com{{ page.url }}"
  },
  "headline": "{{ page.title }}",
  "image": [
    {% if page.image %}
      "https://trevorstales.com/{% asset '{{page.image}}' @path default %}"
    {% endif %}
   ],
  "datePublished": "{{ page.date }}",
  "dateModified": "{{ page.date }}",
  "author": {
    "@type": "Person",
    "name": "Trevor Sorel"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Trevors Tales",
    "logo": {
      "@type": "ImageObject",
      "url": "https://trevorstales.com/{% asset 'tt-logo.png' @path %}"
    }
  },
  "description": "{{ page.description }}"
}
</script>