<div class="subscription-modal">
  <span class="close-alert" title="dismiss" data-close-suggestion><i class="fas fa-times"></i></span>
  <h5>Like what you're reading? Why not join the mailing list?</h5>
  <form action="https://hooks.zapier.com/hooks/catch/3631635/gwcu7z/" data-async-thanks="true">
    <input type="email" name="email" class="margin-top-400" required placeholder="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
    <input type="submit" name="submit" class="button margin-top-400 inline-block" value="sign up now">
  </form>
</div>