<div class="component {{ include.classes }}">
  <div class="row">
    <div class="col-md-12 margin-vertical-200">
      <div class="margin-vertical-200">
        <h2><a href="{{ item.url }}">{{ item.title }}</a></h2>
        <h5>{{ item.date | date: '%B %d, %Y' }}</h5>
        <p class="margin-top-400">
        	{{ item.description }}
        	<a href="{{ item.url }}" class="inline-block">read blog <i class="fas fa-arrow-alt-circle-right"></i></a>
        </p>
      </div>
    </div>
  </div>
  <hr>
</div>