{% assign size = item.content |size %}

<div class="component blog-preview {{ include.classes }} {% if size > 1000 %} cutoff {% endif %}">
  <div class="row">
    <div class="col-md-12">
      <h2 class="inverted padding-vertical-400"><a href="{{ item.url }}">{{ item.title }}</a></h2>
      <div class="content">
        {% if item.image %}
          <div class="img-header" style="background-image: url({% asset '{{ item.image  }}' @path %})"></div>
        {% endif %}

        <div class="text">
          <h5 class="date">{{ item.date | date: '%B %d, %Y' }}</h5>
          <hr>
          {{ item.content }}
        </div>
      </div>
    </div>
  </div>
  {% if size > 1000 %}
    <div class="fadeout">
      <p><a href="{{ item.url }}">read more <i class="fas fa-arrow-alt-circle-down"></i></a></p>
    </div>
  {% endif %}
</div>