<div class="component cta {{ include.classes }}">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <h3>Join the mailing list to get stories and updates right to your inbox</h3>
        <form action="https://hooks.zapier.com/hooks/catch/3631635/gwcu7z/" data-async-thanks="true">
          <input type="email" name="email" class="margin-top-400" required placeholder="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
          <input type="submit" name="submit" class="button margin-top-400 inline-block" value="sign up now">
        </form>
      </div>
    </div>
  </div>
</div>