
{% if include.type == "blog" %}
  {% assign entries = site.blog %}
{% else %}
  {% assign entries = site.stories %}
{% endif %}

<div class="component next-up-previews {{ include.classes }}">
  <div class="preview-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="white margin-bottom-400">More Stories</h2>
        </div>
      </div>
    </div>
    {% assign counter = 0 %}
    {% for entry in entries reversed %}
      {% if counter >= 3 %}
        {% break %}
      {% endif %}
      {% if entry.title != page.title %}
        {% unless entry.categories contains 'serialized' and entry.serialized != 'first' %}
          {% assign counter = counter | plus: 1 %}
          {% include components/molecules/story-box.html story=entry %}
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
</div>