{% assign stories = site.stories %}

<div class="component story-previews {{ include.classes }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="preview-wrapper">
          {% if include.find %}
            {% if include.find == 'other' %}
              {% for story in stories reversed %}
                {% unless story.categories contains 'science fiction' %}
                  {% unless story.categories contains 'literary' %}
                    {% include components/molecules/story-box.html story=story %}
                  {% endunless %}
                {% endunless %}
              {% endfor %}
            {% else %}
              {% assign stories = stories | where: 'categories', include.find | limit: 8 %}
              
              {% for story in stories reversed %}
                {% include components/molecules/story-box.html story=story %}
              {% endfor %}
            {% endif %}
          {% else %}
            {% if include.featured %}
              {% assign featured_stories = site.stories | where: 'featured', 'true' %}
              {% for story in featured_stories reversed %}
                {% include components/molecules/story-box.html story=story %}
              {% endfor %}
            {% else %}
              {% for story in stories reversed %}
                {% include components/molecules/story-box.html story=story %}
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>