{% assign stories = site.stories %}

<div class="component story-previews {{ include.classes }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="preview-wrapper">
          {% if include.find %}
            {% if include.find == 'other' %}
              {% for story in stories reversed %}
                {% unless story.categories contains 'science fiction' %}
                  {% include components/molecules/story-box.html story=story %}
                {% endunless %}
              {% endfor %}
            {% else %}
              {% assign stories = stories | where: 'categories', include.find | limit: 8 %}
              
              {% for story in stories reversed %}
                {% include components/molecules/story-box.html story=story %}
              {% endfor %}
            {% endif %}
          {% else %}

            {% assign offset_num = stories | size | minus: 4 %}
            {% for story in stories reversed | offset: offset_num | limit: 4  %}
              {% include components/molecules/story-box.html story=story %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>