<div class="component story-nav">
  <nav class="story-nav">
    <div class="d-none story-title">{{ page.title }}</div>
    <div class="story-center">
      <span class="float-left social-sharing">
        <a href="https://www.facebook.com/sharer.php?u={{ site.url | url_encode }}{{ page.url | url_encode }}" target="_blank" title="Share on Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/intent/tweet?url={{ site.url | url_encode }}{{ page.url | url_encode }}&text={{ 'Check out this story I found by Trevor Sorel' | url_encode }}&hashtags={{ 'trevorstales,fiction,reading,books' | url_encode }}" target="_blank" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
        <a href="https://plus.google.com/share?url={{ site.url | url_encode }}{{ page.url | url_encode }}" target="_blank" title="Share on Google Plus"><i class="fab fa-google-plus-g"></i></a>
        <a href="mailto:?subject=Check out this story I found on Trevors Tales!&amp;body={{ site.url | url_encode }}{{ page.url | url_encode }}" title="Share by Email"><i class="far fa-envelope"></i></a>
      </span>
      <span class="pages"><output data-current-page>0</output>/<output data-total-pages>?</output></span>
      <span class="float-right bookmark-button">Bookmark<i class="fas fa-bookmark"></i></span>
    </div>
  </nav>
</div>