.component.blog-preview {
  background: $gray-100;
  box-shadow: $box-shadow-light;
  border: $spacing-base solid $black-font;

  &:nth-child(2) {
    margin-bottom: $spacing-600;
  }

  h2 {
    padding: $spacing-200 $spacing-400;
  }

  .date {
  	margin: $spacing-400 0; 
  	font-size: $font-size-base;
  	color: $brown-300;
  }

  .content {
    padding: $spacing-200 $spacing-400;
    font-weight: 100;
  }
}