.component.category-nav {
	position: fixed;
	text-align: center;
	width: 100%;
	padding: $spacing-200;
	background: white;
	z-index: $z-index-nav;
	margin-top: $nav-height;

	a {
		font-weight: 200;
		margin: 0 $spacing-200;
		padding: $spacing-base $spacing-200;
		

		&.active {
			border: 1px solid $black-font;
			border-radius: 15px;
			transition: border 400ms color 400ms;

			&:hover {
				border: 1px solid $brown-300;
			}
		}
	}
}