.component.story-previews {
  .preview-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: $screen-xs) {
      flex-direction: column;
    }
  }

  &.home {
    .preview-wrapper {
      justify-content: space-between;     
    }
  }

  &.feature {
    .preview {
      display: none
    }
    .preview:first-child {
      display: block;
    }
    @media screen and (min-width: $screen-xs) {
      .preview {
        display: none
      }
      .preview:first-child, .preview:nth-child(2) {
        display: block;
      }
    }
    @media screen and (min-width: $screen-sm) {
      .preview {
        display: block;
      }
    }
  }
}