.component.story-previews {
  .preview-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: $screen-xs) {
      flex-direction: row;
    }
  }

  &.home {
    .preview-wrapper {
      justify-content: space-between;

      .preview:nth-child(4) {
        display: none;
      }

      @media screen and (min-width: $screen-sm) {
        .preview:nth-child(4) {
          display: block;
        }
      }
    }
  }

  &.feature {
    .preview-wrapper {
      justify-content: space-between;
    }
    .preview {
      display: none
    }
    .preview:first-child {
      display: block;
    }
    @media screen and (min-width: $screen-xs) {
      .preview {
        display: none
      }
      .preview:first-child, .preview:nth-child(2) {
        display: block;
      }
    }
    @media screen and (min-width: $screen-sm) {
      .preview:first-child, .preview:nth-child(2), .preview:nth-child(3) {
        display: block;
      }
    }
    @media screen and (min-width: $screen-md) {
      .preview {
        display: block;
      }
    }
  }
}