---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="story-center">
        {% include components/molecules/title.html
          header=page.title
          subheader=page.categories %}
      </div>
    </div>
  </div>
</div>

{% include components/story-nav.html title=page.title %}
<div class="story-container">
  {% if page.image %}
  <div class="image-section">
    {% asset '{{ page.image }}' %}
  </div>
  {% endif %}

  {% assign words = content | replace: "</p>", "</p><br>" | split: "<br>" %}
  {% assign num_sections = words | size | divided_by: 8 %}

  {% for i in (1..num_sections) %}
    {% assign this_limit = 8 %}
    {% assign this_offset = i | minus: 1 | times: 8 %}

    <a id="page-{{ i }}" class="page-anchor"></a>
    <div class="story-section">
        
      {% for word in words | limit: this_limit | offset: this_offset %} {{ word }} {% endfor %}
      
      <div class="page">-{{ i }}-</div>
    </div>
  {% endfor %}
</div>