.story-container {
  background: $gray-200;
  padding: $spacing-base $spacing-800;
  z-index: $z-index-base;

  @media screen and (max-width: $screen-xs) {
    padding: $spacing-600 $spacing-400;
  }
}

.image-section {
  max-width: 750px;
  box-shadow: $box-shadow-basic;
  margin: $spacing-600 auto;

  img {
    width: 100%;
  }
}

.story-section {
  position: relative;
  max-width: 750px;
  padding: $spacing-600 $spacing-1000 $spacing-1000 $spacing-1000;
  background: $white-200;
  font-weight: 100;
  margin: $spacing-600 auto;
  box-shadow: $box-shadow-basic;

  &.continue {
    padding: $spacing-600;
  }

  p {
    margin: $spacing-400 0;
  }

  .page-number {
    position: absolute;
    width: 10px;
    left: calc(50% - 11px);
    bottom: $spacing-200;
  }

  @media screen and (max-width: $screen-sm) {
    padding: $spacing-200 $spacing-500 $spacing-500 $spacing-500;
  }
}

.next-up-section {
  max-width: 750px;
  position: relative;
  margin: $spacing-600 auto;
}