.inverted {
  color: $white-100;
  background: $black-font;
}

.bg-gray {
  background: $gray-200;
}

.bg-black {
  background: $black-100;
}

.bg-purple {
  background: $purple-100;
}

.bg-white {
  background: $white-100;

  &.shadowed {
    box-shadow: $box-shadow-basic;
  }
}