form {
  input[type="text"], input[type="email"], textarea {
    padding: $spacing-200 $spacing-200;
    border: 1px solid $gray-100;
    background: $gray-100;
    box-shadow: inset $box-shadow-light;
    font-weight: 200;
    width: 100%;
    max-width: 250px;
  }
}