.nav-container {
  height: $nav-height;
}

nav.main {
  background: $red-100;
  color: $white-100;
  padding: $spacing-200 0;
  font-family: "fira-sans-2", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-index-nav;

  span {
    font-size: $spacing-500;
  }

  ul {
    list-style: none;
    float: right;
    font-weight: 100;

    li {
      display: inline-block;
      padding: 0 $spacing-200;
    }
  }
}