// GENERAL
@import "variables";
@import "nav";
@import "type";
@import "spacing";
@import "backgrounds";
@import "footer";
@import "bookmarks";
@import "form";

// LAYOUTS
@import "layouts/story";

// COMPONENTS
@import "components/story-nav";
@import "components/story-previews";
@import "components/blog-entry";
@import "components/blog-preview";
@import "components/header";
@import "components/cta";

// MOLECULES
@import "components/molecules/story-box";

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body {
  color: $black-font;
  font-family: $font-family-base;
  background: $white-200;
}

main {
  height: 100vh;
}

.no-margin {
  margin: 0;
}

.removed {
  display: none;
}

.story-center {
  margin: 0 auto;
  max-width: 750px;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.page-anchor {
  margin-top: -$spacing-1500;
  position: absolute;
}
.inline-block {
  display: inline-block;
}

.header-wrapper {
  width: 100; 
  position: relative;

  a {
    transition: color 400ms;
  }

  &:hover {
    a {
      color: $brown-100;
    }
  }
}

.button {
  background: $red-100;
  padding: $spacing-200 $spacing-400;
  border-radius: 3px;
  color: white !important;
  cursor: pointer;
  transition: background 400ms;
  border: none;
  box-shadow: none;

  &:hover {
    background: $red-200;
  }
}

.right-link {
  display: block;
  position: absolute;
  right:0;
  top: 8px;

  @media screen and (max-width: $screen-md) {
    .text {
      display: none;
    }
  }

  @media screen and (max-width: $screen-sm) {
    .text {
      display: inline;
    }
  }

  @media screen and (max-width: $screen-micro) {
    .text {
      display: none;
    }
  }
}

.bottom-link {
  color: $white-100;
  display: block;
  font-weight: 200;
  text-align: center;
  width: 100%;
  margin: $spacing-base 0;
  font-size: $font-size-100;
}