---
layout: default
title: Updates and Announcements
---
{% capture header_content %}
	Updates and Announcements <a href="/feed/blog.xml" target="_blank" title="Blog RSS Feed"><i class="fas fa-rss"></i></a>
{% endcapture %}

{% include components/header.html header=header_content %}

<div class="container padding-vertical-200">
  {% for item in site.blog reversed %}
  	<a id="{{ item.title | slugify }}" class="page-anchor"></a>
    {% include components/blog-entry.html item=item %}
  {% endfor %}
</div>
