---
layout: default
title: Home
image: uploads/starship-redemption-1.jpg
---

<div class="bg-black padding-vertical-600">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4 col-xl-3 order-md-3">
        <div class="row">
          <div class="col-md-12">
            <h1 class="white margin-vertical-400">Updates</h1>
            <div class="twitter-button">
              <a href="https://twitter.com/Tales_by_Trevor?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-lang="en" data-show-count="false">Follow @Tales_by_Trevor</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <a class="twitter-timeline" data-lang="en" data-theme="light" data-chrome="noheader nofooter" href="https://twitter.com/Tales_by_Trevor?ref_src=twsrc%5Etfw">Tweets by Tales_by_Trevor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-4">
        <div class="header-wrapper">
          <h1 class="white margin-vertical-400"><a href="/blog"><span class="d-md-none d-lg-inline">From the</span> Blog</a></h1>
          <a href="/blog" class="right-link white"><span class="text d-md-none d-xl-inline">view all</span> <i class="fas fa-arrow-alt-circle-right"></i></a>
        </div>
        {% assign offset_number = site.blog | size | minus: 2 %}
        {% for item in site.blog reversed offset: offset_number limit: 2 %}
          {% include components/blog-preview.html item=item %}
        {% endfor %}
      </div>
      <div class="col-12 col-md-4 col-lg-4 col-xl-5">
        <div class="row">
          <div class="col-md-12">
            <div class="header-wrapper">
              <h1 class="white margin-vertical-400"><a href="/stories"><span class="d-md-none d-lg-inline">Recent</span> Stories</a></h1>
              <a href="/stories" class="right-link white"><span class="text d-md-none d-xl-inline">view all</span> <i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
          </div>
        </div>
        {% include components/story-previews-home.html %}
      </div>
    </div>
  </div>
</div>