---
layout: default
title: Updates and Announcements
---

<div class="bg-black padding-vertical-600">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h1 class="white margin-vertical-400"><a href="/blog">Latest Updates</a></h1>
				
				{% for item in site.blog reversed | limit: 2 %}
				  {% include components/blog-preview.html item=item %}
				{% endfor %}
				<a class="bottom-link" href="/blog">view all <i class="fas fa-arrow-circle-down"></i></a>
				
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-12">
						<h1 class="white margin-vertical-400"><a href="/stories">Recent Stories</a></h1>
						<a href="/stories" class="right-link white"><span class="text">view all</span> <i class="fas fa-arrow-circle-right"></i></a>
					</div>
				</div>
				{% include components/story-previews-home.html %}
			</div>
		</div>
	</div>
</div>